PORT=3000
ADMIN_PORT=3001

BASE_URL=http://127.0.0.1:3000
DATABASE_PATH=./data.sqlite
FALLBACK_URL="https://en.wikipedia.org/wiki/Maned_wolf"

ADMIN_PATH=change-this-to-a-long-random-admin-path
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password

SUB_LINK_SECRET=change-this-to-a-long-random-secret
ADMIN_SESSION_SECRET=change-this-to-another-long-random-secret
